.studio-clients {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  .clients-header {
    margin-top: 0px;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;

      font-size: 36px;
      line-height: 1.17;
    }
  }
}

.clients-list {
  @extend %ul-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: -15px;

  .clients-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 30px) / 6);
    }
  }

  .client-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
    line-height: 0px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    fill: $social-icon-link;

    transition: border-color 250ms $timing-function, fill 250ms $timing-function;

    &:focus,
    &:hover {
      border-color: $hover-focus-text-color;
      fill: $hover-focus-text-color;
    }
  }
}
