/* header */

.header-def {
  border-bottom: 1px solid #ececec;
  z-index: 9;
  position: fixed;
  top: 0;
  background-color: $primary-bgc;
  width: 100%;

  @media screen and (min-width: 768px) {
    position: static;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 60px;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;

      min-height: 80px;
    }
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  outline: transparent;
  background-color: transparent;

  cursor: pointer;

  transition: fill 250ms $timing-function;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    fill: $hover-focus-text-color;
  }

  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}

.nav-menu {
  @media screen and (max-width: 767px) {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $primary-bgc;
    text-align: center;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    transform-origin: top;
    transform: scaleY(0);
    transition: transform 250ms $timing-function;

    &.is-open {
      opacity: 1;
      pointer-events: auto;

      transform: scaley(1);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav-list {
  @extend %ul-reset;

  @media screen and (max-width: 767px) {
    .nav-item:not(:first-child) {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    .nav-item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.header-link {
  position: relative;
  display: inline-block;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $primary-text-color;

  transition: color 250ms $timing-function;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &.reach {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $alternative-text-color;

    @media screen and (min-width: 768px) {
      justify-content: left;
      font-size: 12px;
      line-height: 1.17;

      padding-top: 0px;
      padding-bottom: 0px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &:hover,
  &:focus {
    color: $hover-focus-text-color;
  }

  &.current {
    color: $hover-focus-text-color;
    padding-bottom: 12px;

    @media screen and (min-width: 768px) {
      padding-bottom: 32px;
    }

    &::after {
      content: '';
      display: block;

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $hover-focus-text-color;
    }
  }
}

.address-list {
  @extend %ul-reset;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    display: flex;
  }

  .address-item:not(:first-child) {
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0px;
      margin-left: 30px;
    }
  }

  .address-icon {
    display: block;
    margin-right: 8px;

    fill: currentColor;

    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}
